#mail {
    text-decoration: none;
    color: black;
}

#project {
    text-decoration: none;
    color: black;
}

a.text:active,
a.text:hover,
a.text {
    text-decoration: none;
    color: #666;
}

#aproject:active,
#aproject:hover,
#aproject {
    text-decoration: none;
    color: purple;
}


/* #butproject {
    width: 280px;
} */